---

---

<footer
  class="py-12 mt-12 border-t border-border-subtle/50 flex flex-col items-center justify-center gap-6 text-center text-text-muted text-sm relative"
>
  <div
    class="absolute top-0 left-1/2 -mt-px w-32 h-px bg-gradient-to-r from-transparent via-brand-accent/30 to-transparent -translate-x-1/2"
  >
  </div>

  <div class="flex gap-6 justify-center">
    <a
      href="mailto:jhardelloficial@gmail.com"
      class="hover:text-brand-accent transition-colors flex items-center gap-2 group decoration-transparent"
    >
      <span class="text-brand-accent">{">>"}</span>
      <span>Enviar Email</span>
    </a>
    <a
      href="https://www.linkedin.com/in/alessyo-jhardell-linares-vargas-3a8461264/"
      target="_blank"
      class="hover:text-brand-accent transition-colors flex items-center gap-2 group decoration-transparent"
    >
      <span class="text-brand-accent">{">>"}</span>
      <span>Trabajemos Juntos</span>
    </a>
  </div>
</footer>
