---

---

<header
  class="py-6 flex items-center justify-between border-b w-full border-border-subtle/50"
>
  <div
    class="font-bold text-xl tracking-tighter cursor-pointer hover:text-brand-accent transition-colors"
  >
    <a href="/" class="flex items-center gap-2 group decoration-transparent">
      <span class="text-brand-accent group-hover:text-glow">~</span>
      <span class="text-text-primary">Jhardell</span>
      <span class="text-text-muted">.dev</span>
    </a>
  </div>

  <nav class="flex items-center gap-6 text-sm font-medium">
    <a href="/#projects" class="text-text-muted hover:text-text-primary"
      >Projectos</a
    >
    <a href="/#stack" class="text-text-muted hover:text-text-primary">Stack</a>

    <div class="h-4 w-px bg-border-subtle mx-2 hidden sm:block"></div>

    <a
      href="https://github.com/RaixsG"
      target="_blank"
      rel="noopener noreferrer"
      class="text-text-muted hover:text-brand-accent transition-colors hidden sm:block decoration-transparent"
    >
      GitHub
    </a>
    <a
      href="https://www.linkedin.com/in/alessyo-jhardell-linares-vargas-3a8461264/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-text-muted hover:text-brand-accent transition-colors hidden sm:block decoration-transparent"
    >
      LinkedIn
    </a>
  </nav>
</header>
